.faq-accordion {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.09);
    .card {
        border: 0;
        border-radius: 0;
    }
    .card + .card {
        border-top: 1px solid rgba(#82948C, .2);
    }
    .card-header:first-child {
        border-radius: 0;
    }
    .card-header {
        padding: 30px 80px 30px 40px;
        margin-bottom: 0;
        background-color: #fff;
        border-bottom:0;
        font-size: 25px;
        font-weight: 500;
        cursor: pointer;
        transition: .3s;
        position: relative;
        @media (max-width: 991px) {
            font-size: 22px;
            line-height: 26px;            
        }
        @media (max-width: 767px) {  
            font-size: 20px;          
            padding: 20px 60px 20px 20px;
        }
        &:hover {
            color: #35B98E;
        }
        &.active {
            color: #35B98E;
            .card-indicator  {
                span {
                    background: #47BB8F;
                }
                span:first-child {
                    transform: rotate(0deg);
                }
            }
        }
    }
    .card-indicator {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        @media (max-width: 767px) {            
            right: 20px;
        }
        span {
            width: 26px;
            height: 3px;
            background: #000;
            display: block;
            position: relative;
            transition: .3s;
            @media (max-width: 767px) {            
                width: 20px;
                height: 2px;
            }
        }
        span:first-child {
            transform: rotate(-90deg);
            top: 2px;
        }        
    }
    .card-body {
        padding: 0 40px 30px;
        color: #45584F;
        font-size: 18px;
        @media (max-width: 767px) {            
            padding: 0px 20px 20px;
        }
        p {
            margin-bottom: 0;
        }
        p + p {
            margin-top: 5px;
        }
    }
}