
.btn {
	font-family: $font-primary-regular;
	font-weight: normal;
	font-style: normal;
	outline: none !important;
	transition: $transition-primary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:active {
		box-shadow: none;
	}
	&:hover,
	&:active {
		transition: none;
	}
}

.btn--primary {
	padding: 9px 15px 9px;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	background: #56BB8A;
	height: 48px;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	border-radius: 5px;

	&:focus {
		color: #fff;
	}
	&:hover,
	&:active {
		color: #fff;
		background-color: rgba(#56BB8A, .7);
	}

	&.btn--success {
		// background-color: $color-green;
		box-shadow: 8px 8px 16px 0 rgba(#07021E, .1);
		&:focus {
			color: #fff;
		}
		&:hover,
		&:active {
			color: #fff;
			background-color: #4DBE73;
		}
		&:active  {
			box-shadow: inset -1px 1px 12px rgba(#07021E, .15), 5px 5px 16px 0 rgba(#07021E, .08);
		}
	}
}

.btn--white {
	padding: 16px 15px 12px;
	font-size: 18px;
	font-weight: 500;
	color: #56BB8A;
	background: #fff;
	height: 60px;
	box-shadow: 0px 5px 0 transparent;
	border-radius: 5px;
	border: 2px solid #96DBBA;
	width: 100%;
	text-align: center;
	&:focus {
		color: #56BB8A;
		outline: 0 none;
		box-shadow: 0 0 0 0.2rem transparent;
	}
	&:hover,
	&:active {
		color: #fff;
		background-color: rgba(#96DBBA, 1);
	}

	&.btn--success {
		// background-color: $color-green;
		box-shadow: 8px 8px 16px 0 rgba(#07021E, .1);
		&:focus {
			color: #fff;
		}
		&:hover,
		&:active {
			color: #fff;
			background-color: #4DBE73;
		}
		&:active  {
			box-shadow: inset -1px 1px 12px rgba(#07021E, .15), 5px 5px 16px 0 rgba(#07021E, .08);
		}
	}
}

.btn--transparent {
	padding: 9px 0px 9px;
	font-size: 18px;
	font-weight: 700;
	color: rgba(#fff, .8);
	background: transparent;
	height: 48px;
	box-shadow: none;
	border-radius:0;

	&:focus {
		color: #fff;
		outline: 0 !important;
		box-shadow: 0 0 transparent;
	}
	&:hover,
	&:active {
		outline: 0 !important;		
		color: #fff;
		background-color: transparent;
		box-shadow: 0 0 transparent;
	}
}