.form-control {
  height: 48px;
  padding: 10px 16px 12px;
  font-family: $font-primary-regular;
  font-size: 18px;
  border: 1px solid transparent;
  transition: border $transition-primary;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #000;

  .form-transparent & {
    background: transparent;
    box-shadow: none;
    border-bottom: 1px solid rgba(#fff, .8);
    padding: 10px 5px 12px;
    border-radius: 0;
    color: #fff;

    &::-webkit-input-placeholder {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #fff;
    }

    &:-moz-placeholder {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #fff;
    }

    &::-moz-placeholder {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #fff;
    }

    &:-ms-input-placeholder {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #fff;
    }

    &:hover {
      border-color: transparent;
      border-bottom-color: #fff;
      transition: none;
    }

    &:focus,
    &:active {
      border-color: transparent;
      border-bottom-color: #fff;
      box-shadow: none;
      transition: none;
    }
  }

  &:hover {
    border-color: #56BB8A;
    transition: none;
  }

  &:focus,
  &:active {
    border-color: #56BB8A;
    box-shadow: none;
    transition: none;
  }

  &::-webkit-input-placeholder {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #9AB0A5;
  }

  &:-moz-placeholder {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #9AB0A5;
  }

  &::-moz-placeholder {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #9AB0A5;
  }

  &:-ms-input-placeholder {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #9AB0A5;
  }
}

.control-label {
  margin-bottom: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  cursor: default;
}

textarea {
  resize: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  outline: none !important;
  cursor: pointer;
  transition: $transition-primary;
}

.select-wrapper {
  position: relative;
  z-index: 7;

  &::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 18px;
    width: 10px;
    height: 6px;
    // background-image: url("../images/icon-arrow-gray.svg");
    background-repeat: no-repeat;
  }

  .select {
    width: 100%;
    height: 40px;
    padding: 8px 25px 8px 15px;
    font-family: $font-primary-regular;
    font-size: 16px;
    // line-height: 14px;
    line-height: 20px;
    background: #fff;
    // transition: $transition-primary;
  }
}

.help-block {
  font-family: $font-primary-regular;
  font-size: 12px;
}

// disabling yellow background for chromes autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}



.form-group {
  width: 100%;

  &--half {
    width: 48%;

    @media (max-width: 640px) {
      width: 100%;
    }
  }
}

.form-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.header {
  .bootstrap-select>.dropdown-toggle {
    display: none;
    margin: auto;
    border: 1px solid rgba(#89CFAC, .5);
    color: #56BB8A;
    font-weight: 500;
    padding: 10px 12px;
    &:hover,
    &:focus,
    &:active {
      background: #fff;
      outline: none !important;
      border: 1px solid rgba(#89CFAC, 1);
      color: #56BB8A;
    }

    @media (max-width: 767px) {
      display: block;

    }
    @media (max-width: 480px) {
      width: 100%;

    }
  }
  select {
    display: none;
  }
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    display: none;
    @media (max-width: 767px) {
      display: block;
      
    }
    @media (max-width: 480px) {
      width: 100%;
      text-align: center;
    }
  }
  .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    @media (max-width: 480px) {     
      text-align: center;
    }
  }

  .open>.btn-default.dropdown-toggle {
    background: #fff;
    outline: none !important;
    &:hover,
    &:focus,
    &:active {
      background: #fff;
      outline: none !important;
      border: 1px solid rgba(#89CFAC, 1);
      color: #56BB8A;
    }
  }

  ul.dropdown-menu {

    li {
      border: 0 !important;
      a {
        padding: 10px 15px;
        color: #56BB8A;
        outline: none !important;
      }
      &.active {
        a {
          background: rgba(#56BB8A, .2);
        }
      }
    }
  }
}