
.modal {
	// styles
}

.ksk-modal {
	opacity: 0;
	visibility: hidden;
	transition: .5s;
	background: #fff;
	box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	width: 370px;
	padding: 20px;
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;	
	position: absolute;
	top: auto;
	left: auto;
	&:after {
		content: url('/static/images/border-arrow.svg');
		position: absolute;
		top: -20px;
		right: -20px;
	}
	&--open {
		opacity: 1;
		visibility: visible;
	}
	&--success {
		span {
			color: #56BB8A
		}
	}
	&--error {
		span {
			color: #BB5656
		}
	}
	&--city1 {
		top: 40%;
		right: 40%;
	}
	&--city2 {
		bottom: 35%;
		right: 25%;
		&:after {
			content: url('/static/images/border-arrow.svg');
			position: absolute;
			top: auto;
			bottom: -20px;
			right: -20px;
			transform: rotate(90deg)
		}
	}
	&--city3 { 
		left: 18%;
		bottom: 30%;
		&:after {
			content: url('/static/images/border-arrow.svg');
			position: absolute;
			top: auto;
			left: -20px;
			bottom: -20px;
			right: auto;
			transform: rotate(-180deg)
		}
	}
	&--city4 {
		top: 30%;
    	right: 48%;
	}	
	&--city5 {
		top: 55%;
    	right: 35%;
	}
	&--city6 { 
		left: 18%;
		top: 35%;
		&:after {
			content: url('/static/images/border-arrow.svg');
			position: absolute;
			top: -20px;
			left: -20px;
			bottom: auto;
			right: auto;
			transform: rotate(-90deg)
		}
	}
	&--city7 {
		top: 20%;
    	right: 58%;
	}
	&--city8 { //актобе
		left: 40%;
		top: 45%;
		&:after {
			content: url('/static/images/border-arrow.svg');
			position: absolute;
			top: -20px;
			left: -20px;
			bottom: auto;
			right: auto;
			transform: rotate(-90deg)
		}
	}
		
}

.modal-dialog {
	max-width: 685px;	
}

.modal-content {
	background: #56BB8A;
	padding: 50px 60px;
	color: #fff;
}

